<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293881636945-v3icolol2oeuuhi969brljlfv6a91lkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293881636945-v3icolol2oeuuhi969brljlfv6a91lkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDZjjjZ2hHNk_KPpcF3yKt03kN_uk7NB30</string>
	<key>GCM_SENDER_ID</key>
	<string>293881636945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notePad</string>
	<key>PROJECT_ID</key>
	<string>notepad-716e1</string>
	<key>STORAGE_BUCKET</key>
	<string>notepad-716e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293881636945:ios:3597c6df9c2d98bafbb070</string>
</dict>
</plist>